@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-secondary-600;
    @apply no-underline;
  }

  a:hover,
  a:active {
    @apply underline;
  }

  a:visited {
    @apply text-secondary-800;
  }

  .prose > ul > li > p:only-child {
    margin: 0;
  }
}

@layer components {
  .btn {
    @apply w-44 min-w-max rounded-lg border p-3 flex justify-center place-items-center text-white hover:text-white active:text-white visited:text-white shadow bg-primary-400 hover:bg-primary-600 transition-colors ease-out hover:no-underline active:no-underline;
  }
}

.breadcrumbs li:not(:last-child)::after {
  content: " / ";
}

.max-h-80vh {
  max-height: 80vh;
}
